body{
    background-image: url(backgroundImage.jpeg);
    background-size: cover;
    
}
.websiteTitle {
    background-color: white;
    padding: 1%;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}