body{
    background-image: url("../images/backgroundImage.jpeg");
    background-size: cover;
    
}

.h1 {
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* position: absolute; */
    /* top: 50%; */
}

.website-title {
    background-color: white;
    opacity: 50%;
    margin: auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 1%;
}

.website-footer {
    background-color: white;
    opacity: 50%;
    margin: auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 1%;
}

.options {
    background-color: white;
    opacity: 50%;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    padding: 1%;
    width: 50vh;
    margin: auto;
}

.yes-no-button {
  position: absolute;
  left: 537px;
  top: 235px;
  width: 437px;
  height: 103px;
  font-family: Inter;
  font-style: normal;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  vertical-align: top;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}

#landing-logo {
    height: 50vh;
    margin: auto;
    display: block;
}

#card-page h1, #card-page h2{
    text-align: center;
    color: #F1E2C3;
    margin-top: 100px;
}

#deck{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

#deck img {
    max-width: 200px;
    position: relative;
    margin-left: -50px;
    border-radius: 10px;
}
#deck #c0 {
    margin-left: 0px;
}

#deck img:hover {
    box-shadow: 0px 0px 10px 0px #F1E2C3;
    top: -10px;
}
