* {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Karla', sans-serif;
}

body{
    background-image: url("../images/backgroundImage.jpeg");
    background-size: 100% auto;
}

/* menu styling */
#index-page, #feedback-page, #option-page, #card-page h1{
    text-align: center;
    color: #F1E2C3;
    margin-top: 100px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    padding: 20px 40px;
    font-size: 24px;
    margin-bottom: 20px;
    width: 300px;
    background-color: #F1E2C3;
    color: #323232;
    border-radius: 10px;
    outline-offset: -3px;
    outline-style: solid;
    outline-color: #323232;
    border-style: none;
}

.button:hover {
    background-color: #9E9583;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* position: absolute; */
    /* top: 50%; */
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options {
    background-color: #F1E2C3;
    text-align: center;
    padding: 1%;
    width: 50vh;
    margin: auto;
}

#landing-logo {
    height: 50vh;
    margin: auto;
    display: block;
}

header img {
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
}

header {
    max-width: 15%;
}

#option-page {
    margin-top: 10px;
}

.sideButton{
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F1E2C3;
    color: #323232;
    border-radius: 10px;
    outline-offset: -3px;
    outline-style: solid;
    outline-color: #323232;
    border-style: none;
}

.sideButton:hover {
    background-color: #9E9583;
}

.feedbackButton, .settings {
    margin-top: 10px; 
    height: 50px;
    width: 80px;
}