/* Zodiac Page */
#zodiac-page h1 {
    text-align: center;
    color: #F1E2C3;
    font-size: 40px;
}

#zodiac-page .container {
    max-width: 500px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    text-align: center;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #F1E2C3;
    font-size: 18px;
}

input {
    padding: 10px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}

#zodiac-page button {
    display: block;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #F1E2C3;
    font-size: 20px;
}

#symbol {
    height: 125px;
}

#star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 25%;
    z-index: -1;
    width: 100%;
}