name: Generate JSDoc

on:
  push:
    branches:
      - 'main'
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repo
      uses: actions/checkout@v2
      with:
        persist-credentials: false  # Needed to avoid GitHub auto adding a token

    - name: Setup Node.js environment
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    
    - name: Install dependencies
      run: npm install

    - name: Install JSDoc
      run: npm install --save-dev jsdoc

    - name: Generate JSDoc
      run: ./node_modules/.bin/jsdoc ./Fortune-Teller/js

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: "Generated JSDoc"
        title: "Generated JSDoc"
        body: "Updates JSDoc documentation"
        branch: "generate-jsdoc-${{ github.run_id }}"
